
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/page.html" %}

{% set pageTitle = t('account.changePhone') + " : " + t('account.requestEmailOtp.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{ t('account.changePhone') }}</span>
    <h1 class="govuk-heading-l">{{ t('account.requestEmailOtp.title') }}</h1>

    <div class="govuk-inset-text">
      {{ t('account.requestEmailOtp.inset') }} <strong>{{ email }}</strong>
    </div>

    <p class="govuk-body">{{ t('account.requestEmailOtp.para1') }}</p>

    <p class="govuk-body">{{ t('account.requestEmailOtp.para2') }}</p>

    <form method="post" action="/account/change-phone/send-code" novalidate="">
      <input type="hidden" name="crumb" value="{{ crumb }}">

      {{ govukButton({
        text: t('account.requestEmailOtp.getCode')
      }) }}
    </form>

  </div>
    </div>
  </div>
{% endblock %}
