
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/page.html" %}

{% set pageTitle = t('account.changeEmail') + " : " + t('account.requestPhoneOtp.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    <span class="govuk-caption-l">{{ t('account.changeEmail') }}</span>
    <h1 class="govuk-heading-l">{{ t('account.requestPhoneOtp.title') }}</h1>

    <div class="govuk-inset-text">
      {{ t('account.requestPhoneOtp.inset') }} <strong>{{ phoneEndDigits }}</strong>
    </div>

    <p class="govuk-body">{{ t('account.requestPhoneOtp.para1') }}</p>

    <p class="govuk-body">{{ t('account.requestPhoneOtp.para2') }}</p>

    <form method="post" action="/account/{{ uid }}/send-code" novalidate="">
      <input type="hidden" name="crumb" value="{{ crumb }}">

      {{ govukButton({
        text: t('account.requestPhoneOtp.getCode')
      }) }}
    </form>

  </div>
    </div>
  </div>
{% endblock %}
