
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layouts/page.html" %}

{% set pageTitle = t('account.changeEmail') + " : " %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    {% if errorKey %}
      {{ govukErrorSummary({
        titleText: t('errors.errorSummaryTitle'),
        errorList: [{ text: t(errorKey), href: "#" }]
      }) }}
    {% endif %}

    {% include "account/partials/span.html" %}

    {% if accountAction === 'change-phone' %}
      <h1 class="govuk-heading-l">{{ t('account.updateError.titlePhone') }}</h1>
      <p class="govuk-body">{{ t('account.updateError.bodyPhone') | safe }}</p>
    {% else %}
      <h1 class="govuk-heading-l">{{ t('account.updateError.titleEmail') }}</h1>
      <p class="govuk-body">{{ t('account.updateError.bodyEmail') | safe }}</p>
    {% endif %}
  </div>
    </div>
  </div>
{% endblock %}
