{% extends "layouts/page.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set pageTitle = t('account.changePhone') + " : " + t('account.newPhone.title') %}
{% set errorMessage = { text: t(errorKey) } if errorKey else undefined %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if errorKey %}
        {{ govukErrorSummary({
          titleText: t('errors.errorSummaryTitle'),
          errorList: [{ text: t(errorKey), href: "#phone" }]
        }) }}
      {% endif %}

      {% include "account/partials/span.html" %}
      <h1 class="govuk-heading-l">{{ t('account.newPhone.title') }}</h1>

      <form method="post" action="/account/change-phone/enter-phone" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        <p class="govuk-body">{{ t('account.newPhone.body') }}</p>

        {{ govukInput({
          label: {
            text: t('account.newPhone.label')
          },
          id: "phone",
          name: "phone",
          type: "phone",
          autocomplete: "phone",
          spellcheck: false,
          value: phone,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({ text: t('account.newPhone.continue') }) }}
      </form>

    </div>
  </div>
{% endblock %}
