{% extends "layouts/page.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle = t('account.sentPhoneOtp.title') %}
{% set errorMessage = { text: t(errorKey) } if errorKey else undefined %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if showResendNotification %}
        {{ govukNotificationBanner({
          type: "success",
          titleText: t('account.sentPhoneOtp.resendNotificationTitleText'),
          text: t('account.sentPhoneOtp.resendNotificationText')
        }) }}
      {% endif %}

      {% if errorKey %}
        {{ govukErrorSummary({
          titleText: t('errors.errorSummaryTitle'),
          errorList: [{ text: t(errorKey), href: "#code" }]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ t('signin.code.title') }}</h1>

      <p class="govuk-body">{{ t('account.sentPhoneOtp.para1') }}</p>

      {{ govukInsetText({ text: t('account.sentPhoneOtp.inset') + phoneEndsDigits }) }}

      <p class="govuk-body">{{ t('account.sentPhoneOtp.para2') }}</p>

      <form method="post" action="/account/{{ uid }}/code-sent" novalidate>
        <input type="hidden" name="crumb" value="{{ crumb }}">

        {{ govukInput({
          label: { text: t('account.sentPhoneOtp.enterCode') },
          classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
          id: "code",
          name: "code",
          type: "text",
          inputmode: "numeric",
          autocomplete: "one-time-code",
          spellcheck: false,
          errorMessage: errorMessage
        }) }}

        {{ govukButton({ text: t('account.sentPhoneOtp.continue') }) }}
      </form>

      {{ govukDetails({
        summaryText: t('account.sentPhoneOtp.problemsDetails.summaryText'),
        html: t('account.sentPhoneOtp.problemsDetails.body')
      }) }}
    </div>
  </div>
{% endblock %}
