{% extends "layouts/page.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('signin.codeExpired.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('signin.codeExpired.title') }}</h1>

      {{ govukInsetText({ text: t('signin.codeExpired.sentTo', { email: email }) }) }}

      <p class="govuk-body">{{ t('signin.codeExpired.expiryInfo') }}</p>
      <p class="govuk-body">{{ t('signin.codeExpired.resendInfo') }}</p>

      {{ govukButton({
        text: t('signin.codeExpired.continue'),
        href: "./resend"
      }) }}
    </div>
  </div>
{% endblock %}
