{% extends "layouts/page.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitle = t('signin.expired.title') %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ t('signin.expired.title') }}</h1>
      {{ govukInsetText({ text: t('signin.expired.sentTo', { email: email }) }) }}
      <p class="govuk-body">{{ t('signin.expired.body1') }}</p>
      <p class="govuk-body">{{ t('signin.expired.body2') }}</p>
      {{ govukButton({
        text: t('signin.expired.resend'),
        href: "/interaction/" + uid
      }) }}
    </div>
  </div>
{% endblock %}
